/**
  * auth-page styles
  */
.auth-page {
  min-height: 674px;
  background: url(/images/auth-bg.jpg) no-repeat center;
  background-size: cover; }

.auth-form {
  background: #ffffff;
  margin-top: 125px;
  width: 475px; }
  .auth-form__title {
    display: block;
    padding-top: 21px;
    padding-bottom: 18px;
    text-align: center;
    color: #ffffff;
    background: #e30007;
    font-weight: 500;
    font-size: 1.8rem; }
  .auth-form__wrap {
    padding: 38px; }
  .auth-form__row {
    margin-bottom: 20px;
    text-align: center; }
    .auth-form__row_text {
      font-size: 1.6rem; }
  .auth-form__input {
    width: 100%;
    outline: none;
    border: 0;
    border-bottom: 1px solid #dadada;
    padding-bottom: 9px;
    padding-top: 10px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    color: #818181; }
  .auth-form__submit {
    display: inline-block;
    width: 200px;
    padding: 22px 10px 20px 10px;
    font-size: 1.8rem;
    color: #ffffff;
    background: #e30007;
    outline: 0;
    border: 0;
    cursor: pointer; }
  .auth-form__forgot {
    display: block;
    text-align: center;
    font-size: 1.4rem;
    color: #9a9a9a;
    cursor: pointer;
    text-decoration: none;
    font-weight: 400; }
    .auth-form__forgot:hover {
      text-decoration: underline; }
