/**
  * auth-page styles
  */
.auth-page {
  min-height: 674px;
  background: url(/images/auth-bg.jpg) no-repeat center;
  background-size: cover;
}
.auth-form {
  background: #ffffff;
  margin-top: 125px;
  width: 475px;
  &__title {
    display: block;
    padding-top: 21px;
    padding-bottom: 18px;
    text-align: center;
    color: #ffffff;
    background: #e30007;
    font-weight: 500;
    font-size: 1.8rem;
  }
  &__wrap {
    padding: 38px;
  }
  &__row {
    margin-bottom: 20px;
    text-align: center;

    &_text{
      font-size: 1.6rem;
    }
  }
  &__input {
    width: 100%;
    outline: none;
    border: 0;
    border-bottom: 1px solid #dadada;
    padding-bottom: 9px;
    padding-top: 10px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    color: #818181;
  }
  &__submit {
    display: inline-block;
    width: 200px;
    padding: 22px 10px 20px 10px;
    font-size: 1.8rem;
    color: #ffffff;
    background: #e30007;
    outline: 0;
    border: 0;
    cursor: pointer;
  }
  &__forgot {
    display: block;
    text-align: center;
    font-size: 1.4rem;
    color: #9a9a9a;
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
    &:hover {
      text-decoration: underline;
    }
  }
}
