@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('/css/fonts/HelveticaNeueCyr-Bold.eot');
	src: url('/css/fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
		url('/css/fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
		url('/css/fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
		url('/css/fonts/HelveticaNeueCyr-Bold.ttf') format('truetype'),
		url('/css/fonts/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('/css/fonts/HelveticaNeueCyr-Medium.eot');
	src: url('/css/fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
		url('/css/fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
		url('/css/fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
		url('/css/fonts/HelveticaNeueCyr-Medium.ttf') format('truetype'),
		url('/css/fonts/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('/css/fonts/HelveticaNeueCyr-Roman.eot');
	src: url('/css/fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
		url('/css/fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
		url('/css/fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
		url('/css/fonts/HelveticaNeueCyr-Roman.ttf') format('truetype'),
		url('/css/fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
	font-weight: normal;
	font-style: normal;
}
