@charset "UTF-8";
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("/css/fonts/HelveticaNeueCyr-Bold.eot");
  src: url("/css/fonts/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("/css/fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("/css/fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("/css/fonts/HelveticaNeueCyr-Bold.ttf") format("truetype"), url("/css/fonts/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("/css/fonts/HelveticaNeueCyr-Medium.eot");
  src: url("/css/fonts/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("/css/fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("/css/fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("/css/fonts/HelveticaNeueCyr-Medium.ttf") format("truetype"), url("/css/fonts/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("/css/fonts/HelveticaNeueCyr-Roman.eot");
  src: url("/css/fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("/css/fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("/css/fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("/css/fonts/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("/css/fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body {
  font-size: 10px;
  font-family: 'HelveticaNeueCyr', Arial, sans-serif;
  height: 100%;
  min-width: 300px; }

.body_modal-open {
  overflow: hidden; }

.main-wrap {
  max-width: 1200px;
  margin: 0 auto; }

.main-content {
  position: relative; }

.title-h1 {
  font-size: 2.4rem;
  color: #040404;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px; }

.news-title {
  text-align: left;
  display: block;
  font-weight: 500;
  font-size: 1.8rem;
  color: #303030;
  text-decoration: none; }

.news-date {
  text-align: left;
  display: block;
  color: #a7a7a7;
  font-size: 1.4rem;
  font-style: italic;
  font-weight: normal;
  position: relative; }

.news-text {
  text-align: left;
  font-size: 1.4rem;
  color: #3d3d3d; }

.input-default {
  outline: 0;
  border: 0;
  border-bottom: 1px solid #dadada;
  padding: 10px;
  font-size: 1.6rem;
  color: #303030;
  font-weight: 400; }

.input-file {
  overflow: hidden;
  position: relative; }
  .input-file:hover .input-file__btn {
    background: #b3b3b3; }
  .input-file__btn {
    width: 100%;
    color: #000000;
    font-size: 1.6rem;
    outline: 0;
    border: 0;
    background: #e6e6e6;
    padding: 10px 20px 10px; }
  .input-file__hidden {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(20);
            transform: scale(20);
    letter-spacing: 10em;
    /* IE 9 fix */
    -ms-transform: scale(20);
    /* IE 9 fix */
    opacity: 0;
    cursor: pointer; }
  .input-file__text {
    margin-top: 10px;
    display: block;
    text-align: center;
    font-size: 1.4rem; }

.select-default {
  outline: 0;
  border: 0;
  border-bottom: 1px solid #dadada;
  padding: 10px;
  font-size: 1.6rem;
  color: #000000;
  font-weight: 400;
  width: 100%; }

.table-button-wrap {
  width: 30px;
  height: 23px;
  display: inline-block;
  vertical-align: middle; }

.table-button {
  width: 23px;
  height: 23px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  border: none;
  background-color: transparent;
  cursor: pointer; }
  .table-button_delete {
    background: url(/images/icons/delete.svg) no-repeat center;
    background-size: cover;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out; }
    .table-button_delete:hover {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  .table-button_edit {
    background: url(/images/icons/edit.svg) no-repeat center;
    background-size: cover; }

.add-button {
  position: absolute;
  outline: none;
  right: 0;
  top: 50%;
  margin-top: -16px;
  border: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  background: url(/images/icons/add.png) no-repeat center, transparent; }
  .add-button:hover {
    background: url(/images/icons/add_hover.png) no-repeat center, transparent; }

.loader {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none; }
  .loader_on {
    display: block; }
  .loader__loading {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 1.8rem;
    text-align: center;
    color: #4a4a4a;
    white-space: nowrap;
    width: 100%; }
    .loader__loading:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      width: 23px;
      height: 23px;
      background: url("/images/icons/loading.png") no-repeat center;
      -webkit-animation: spin 2s linear infinite;
              animation: spin 2s linear infinite; }

/**
  * global table styles
  */
.table {
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  display: table;
  width: 100%; }
  .table__row {
    display: table-row;
    width: 100%;
    position: relative; }
    .table__row .table__col {
      border-top: 1px dashed #c1c1c1;
      border-left: 1px dashed #c1c1c1; }
      .table__row .table__col:last-of-type {
        border-right: 1px dashed #c1c1c1; }
    .table__row:last-child .table__col {
      border-bottom: 1px dashed #c1c1c1; }
  .table__col {
    display: table-cell;
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: middle; }
  .table__header {
    display: table-row;
    width: 100%;
    background: #888787;
    color: #ffffff; }
  .table__head {
    display: table-cell;
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: middle;
    background: #888787; }

/**
  * subscribe form styles
  */
.subscribe-form {
  margin: 20px 0;
  text-align: center; }
  .subscribe-form__label {
    display: inline-block;
    color: #e30007;
    font-size: 1.8rem;
    font-weight: 400;
    margin-right: 30px; }
  .subscribe-form__submit {
    display: inline-block;
    font-size: 1.8rem;
    color: #ffffff;
    background: #e30007;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    cursor: pointer; }
    .subscribe-form__submit:hover {
      text-decoration: underline; }
  .subscribe-form__result {
    display: block;
    font-size: 1.4rem;
    padding: 14px 0; }

/**
  * news-list styles
  */
.news-list.row {
  padding-top: 50px; }
  .news-list.row:first-of-type {
    padding-top: 0; }

.news-list__image {
  display: block;
  width: auto;
  height: 240px;
  margin: 0 auto;
  color: #3d3d3d;
  outline: none; }

.news-list__item {
  padding-bottom: 50px; }
  .news-list__item:nth-child(3n-2) {
    border-bottom: 1px dashed #dadada; }
  .news-list__item:hover > .news-list__title {
    color: #e30007; }
  .news-list__item:hover > .news-list__date:before {
    display: block; }

.news-list__date {
  text-align: left;
  padding-top: 25px;
  display: block;
  color: #a7a7a7;
  font-size: 1.4rem;
  font-style: italic;
  font-weight: normal;
  position: relative; }
  .news-list__date:before {
    content: "";
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 2px;
    border-bottom: 2px solid #e30007; }

.news-list__title {
  text-align: left;
  display: block;
  margin: 22px 0;
  font-weight: 500;
  font-size: 1.8rem;
  color: #303030;
  text-decoration: none; }
  .news-list__title:hover {
    text-decoration: underline; }

.news-list__text {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 1.4rem;
  color: #3d3d3d; }

/**
  * header styles
  */
.header {
  width: 100%;
  padding-top: 40px;
  position: relative;
  background: #ffffff;
  opacity: 1; }
  .header__title {
    font-size: 2.4rem;
    color: #040404;
    text-transform: uppercase;
    font-weight: bold; }
  .header__subtitle {
    font-size: 1.8rem;
    color: #040404;
    font-weight: normal; }
  .header__wrap {
    display: table;
    float: left; }
  .header__link {
    display: table-cell;
    vertical-align: middle; }
  .header__logo {
    width: 100%; }
  .header__logo-wrap {
    width: 128px;
    float: left;
    margin-right: 35px;
    margin-left: 15px; }
  .header__text {
    padding-top: 15px;
    float: left; }
  .header__logo-clone {
    visibility: hidden; }
    .header__logo-clone .header__logo-wrap {
      width: 40px;
      padding-top: 8px; }
    .header__logo-clone .header__text {
      padding-top: 17px; }
    .header__logo-clone .header__title {
      margin: 0;
      font-size: 2rem; }
  .header_fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    -webkit-animation: header 0.5s;
            animation: header 0.5s;
    padding-top: 0; }
    .header_fixed .header__container {
      display: none; }
    .header_fixed .header__logo-clone {
      visibility: visible; }

@-webkit-keyframes header {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes header {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.navbar {
  list-style: none;
  position: relative; }
  .navbar__logo {
    height: 56px;
    position: absolute;
    left: 0;
    top: 0; }
    .navbar__logo > a {
      height: 100%; }
    .navbar__logo > a > .header__logo {
      width: auto;
      height: 100%; }
  .navbar__list {
    display: table-cell;
    vertical-align: bottom;
    text-align: right;
    padding: 15px 0; }
  .navbar__text {
    position: relative;
    color: #818181;
    font-weight: normal;
    font-size: 1.4rem; }
    .navbar__text_mail {
      padding-left: 30px; }
      .navbar__text_mail:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -6px;
        width: 17px;
        height: 12px;
        background: url(/images/icons/mail.png) no-repeat center; }
    .navbar__text_cart {
      padding-left: 30px; }
      .navbar__text_cart:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -10px;
        width: 20px;
        height: 19px;
        background: url(/images/icons/cart.png) no-repeat center; }
  .navbar__link {
    text-decoration: none; }
    .navbar__link:hover {
      text-decoration: underline; }
  .navbar__item {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 18px;
    border-right: 1px solid #ebebeb; }
    .navbar__item:last-child {
      border-right: none; }
  .navbar__user {
    color: #303030;
    font-size: 1.4rem;
    vertical-align: middle;
    position: relative;
    text-decoration: none; }
    .navbar__user:before {
      position: absolute;
      left: -34px;
      top: 50%;
      margin-top: -12px;
      content: "";
      width: 24px;
      height: 24px;
      background: url(/images/icons/user.png) no-repeat center; }
    .navbar__user:hover {
      text-decoration: underline; }
  .navbar__status {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border-radius: 50%; }
    .navbar__status_active {
      background: #39b54a; }
    .navbar__status_locked {
      background: #e30007; }
    .navbar__status_prepayment {
      background: #ffc000; }

.hamburger {
  display: none; }

/**
  * Main page
  */
.banner__img {
  width: 100%; }

.content {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 170px; }

.footer {
  background: #000;
  color: #fff;
  height: 170px;
  margin-top: -170px;
  padding-top: 28px;
  padding-bottom: 20px; }
  .footer__info {
    padding: 10px 12px;
    border-left: 1px solid #3d3d3d;
    margin-bottom: 40px; }
  .footer__title {
    display: block;
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 16px; }
  .footer__subtitle {
    display: block;
    font-weight: normal;
    font-size: 1.4rem; }
  .footer__rights {
    font-size: 1.2rem;
    font-weight: normal; }
  .footer__supportix {
    display: block;
    font-size: 1.2rem;
    font-weight: normal;
    text-align: right; }
  .footer__button-pdf {
    font-size: 1.7rem;
    font-weight: normal;
    display: inline-block;
    background-color: #ff0003;
    background-image: url("/images/icons/pdf-file.svg");
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
    padding: 10px;
    width: 100%;
    max-width: 260px;
    margin: 25px 0 15px;
    text-decoration: none; }

/**
  * parts page styles
  */
.parts-page {
  position: relative; }
  .parts-page__preview-text {
    font-size: 1.6rem;
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 80px 0;
    color: #4a4a4a;
    line-height: 1.5; }
    .parts-page__preview-text_p0 {
      padding: 0; }
  .parts-page__table {
    margin-top: 75px;
    margin-bottom: 75px; }
  .parts-page__wrap {
    padding-top: 55px; }
  .parts-page__filter {
    display: block;
    width: 100%;
    text-align: center; }
  .parts-page__filter-wrap {
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px; }
  .parts-page__submit {
    outline: none;
    border: 0;
    width: 30px;
    height: 30px;
    background: url(/images/icons/search.svg) no-repeat center;
    cursor: pointer; }
  .parts-page__btn {
    display: inline-block;
    text-align: center;
    max-width: 200px;
    padding: 13px 15px;
    width: 100%;
    background: #888787;
    color: #ffffff;
    margin: 20px auto;
    text-decoration: none;
    font-size: 1.6rem; }
    .parts-page__btn:hover {
      background: #555454; }

.parts-table {
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  display: table;
  width: 100%;
  margin-top: 35px;
  margin-bottom: 35px; }
  .parts-table__row {
    display: table-row;
    width: 100%;
    position: relative; }
    .parts-table__row:hover > .parts-table__col {
      background: #ededed; }
    .parts-table__row:hover > .parts-table__col_nubmer {
      background: #e6ece8; }
    .parts-table__row:hover > .parts-table__col_price {
      background: #ece1e1; }
    .parts-table__row:hover > .parts-table__col_code {
      background: #eae4e6; }
    .parts-table__row:hover > .parts-table__col_delete {
      background: inherit; }
    .parts-table__row .parts-table__col {
      border-top: 1px dashed #c1c1c1;
      border-left: 1px dashed #c1c1c1; }
      .parts-table__row .parts-table__col:last-of-type {
        border-right: 1px dashed #c1c1c1; }
    .parts-table__row:last-child .parts-table__col {
      border-bottom: 1px dashed #c1c1c1; }
    .parts-table__row .parts-table__col_empty {
      border-bottom: 0;
      border-left: 0;
      border-right: 0;
      border-top: 0; }
    .parts-table__row.status_disabled {
      color: #9a9a9a; }
    .parts-table__row.status_cart .parts-table__col:first-child {
      border-left: 3px solid #c0e4cd; }
    .parts-table__row.status_cart .parts-table__col:last-child {
      border-right: 3px solid #c0e4cd; }
    .parts-table__row_result {
      display: table-row;
      width: 100%;
      position: relative; }
      .parts-table__row_result .parts-table__col_number, .parts-table__row_result .parts-table__col_count {
        background: inherit; }
      .parts-table__row_result .parts-table__col {
        border-top: 1px dashed #c1c1c1; }
      .parts-table__row_result .parts-table__col_addition {
        background: #dadada; }
      .parts-table__row_result .parts-table__col_cost, .parts-table__row_result .parts-table__col_weight {
        background: #cccbcb; }
      .parts-table__row_result .parts-table__col_result-cost {
        background: #be7088;
        color: #ffffff;
        font-weight: 500; }
      .parts-table__row_result:hover > .parts-table__col {
        background: inherit; }
      .parts-table__row_result:hover > .parts-table__col_addition {
        background: #dadada; }
      .parts-table__row_result:hover > .parts-table__col_cost, .parts-table__row_result:hover .parts-table__col_weight {
        background: #cccbcb; }
      .parts-table__row_result:hover > .parts-table__col_result-cost {
        background: #be7088; }
  .parts-table__col {
    display: table-cell;
    padding: 20px 10px;
    vertical-align: middle; }
    .parts-table__col_delete {
      text-align: center;
      vertical-align: middle; }
    .parts-table__col_type {
      white-space: nowrap; }
    .parts-table__col_number {
      background: #f6fbf8; }
    .parts-table__col_price, .parts-table__col_count {
      background: #fef2f2; }
    .parts-table__col_code, .parts-table__col_result-cost {
      background: #faf4f6; }
    .parts-table__col_status {
      cursor: pointer;
      padding-left: 20px; }
      .parts-table__col_status span {
        position: relative;
        display: inline-block;
        padding-left: 10px;
        color: #be6f88; }
        .parts-table__col_status span:before {
          display: inline-block;
          content: "+";
          position: absolute;
          left: -13px;
          top: 50%;
          margin-top: -16px;
          font-size: 26px; }
      .parts-table__col_status:hover span {
        color: #e74c4c; }
      .parts-table__col_status.status_disabled:hover span {
        color: #000000; }
    .parts-table__col.status_disabled span {
      position: relative;
      display: inline-block;
      padding-left: 10px;
      color: #888787; }
      .parts-table__col.status_disabled span:before {
        display: inline-block;
        content: "!";
        position: absolute;
        left: -5px;
        top: 50%;
        margin-top: -13px;
        font-size: 25px; }
    .parts-table__col.status_cart span {
      position: relative;
      display: inline-block;
      padding-left: 10px;
      color: #1b8568;
      white-space: nowrap; }
      .parts-table__col.status_cart span:before {
        display: inline-block;
        content: "✓";
        position: absolute;
        left: -10px;
        top: 50%;
        margin-top: -10px;
        font-size: 20px; }
  .parts-table__header {
    display: table-row;
    width: 100%;
    background: #888787;
    color: #ffffff; }
  .parts-table__head {
    display: table-cell;
    padding: 20px 5px;
    vertical-align: middle; }
    .parts-table__head_number {
      background: #c0e4cd;
      color: #000000; }
    .parts-table__head_price, .parts-table__head_count {
      background: #e74c4c; }
    .parts-table__head_moscow, .parts-table__head_shipping {
      background: #b4b4b4;
      color: #000000; }
    .parts-table__head_artem {
      background: #cdcdcd;
      color: #000000; }
    .parts-table__head_belgium {
      background: #dadada;
      color: #000000; }
    .parts-table__head_japan, .parts-table__head_addition {
      background: #e6e3e3;
      color: #000000; }
    .parts-table__head_code, .parts-table__head_result-cost {
      background: #cf96a8; }
    .parts-table__head_status {
      background: #dadada;
      color: #000000;
      font-style: italic; }

.hino-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1002;
  overflow: auto; }
  .hino-popup__label {
    margin-bottom: 15px;
    display: block; }
  .hino-popup__spinner {
    margin-bottom: 20px; }
  .hino-popup__inc, .hino-popup__dec {
    border-style: none;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0;
    background: #e6e6e6;
    color: #303030;
    font-size: 1.8rem;
    top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .hino-popup__inc {
    left: 100px;
    background: url(/images/icons/plus.svg) no-repeat center, #e6e6e6;
    background-size: 50% 50%; }
  .hino-popup__dec {
    right: 100px;
    background: url(/images/icons/minus.svg) no-repeat center, #e6e6e6;
    background-size: 50% 50%; }
  .hino-popup__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center; }
    .hino-popup__container:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
  .hino-popup__wrap {
    width: 90%;
    max-width: 380px;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    margin: 40px 0; }
  .hino-popup__header {
    padding: 35px 10px 30px 10px;
    background: #e6e6e6;
    position: relative; }
  .hino-popup__title {
    display: block;
    text-align: center;
    color: #000000;
    font-size: 1.8rem;
    font-weight: 400; }
  .hino-popup__close {
    position: absolute;
    top: 50%;
    margin-top: -5px;
    right: 30px;
    width: 17px;
    height: 17px;
    background: url(/images/icons/cancel.svg) no-repeat center;
    background-size: cover;
    cursor: pointer; }
  .hino-popup__content {
    padding: 20px;
    text-align: center;
    font-size: 1.8rem; }
  .hino-popup__radio {
    display: block;
    text-align: left;
    margin: 8px 0;
    font-size: 1.6rem; }
    .hino-popup__radio input[type="radio"] {
      margin-right: 10px; }
  .hino-popup__select-wrap, .hino-popup__text {
    margin-bottom: 15px; }
  .hino-popup__select-title {
    font-size: 16px; }
  .hino-popup__select {
    display: block;
    margin: 5px auto;
    width: 220px; }
  .hino-popup__number {
    display: inline-block;
    border: none;
    vertical-align: middle;
    margin: 0;
    background: #e6e6e6;
    color: #303030;
    font-size: 1.8rem;
    padding: 15px;
    margin: 0 25px;
    width: 90px;
    text-align: center;
    -moz-appearance: textfield; }
    .hino-popup__number::-webkit-outer-spin-button, .hino-popup__number::-webkit-inner-spin-button {
      -webkit-appearance: none; }
    .hino-popup__number:focus {
      outline: 0; }
  .hino-popup__button-wrap {
    text-align: center; }
  .hino-popup__btn {
    display: inline-block;
    width: 110px;
    margin: 0 15px;
    border: 0;
    outline: 0;
    padding: 15px 0;
    font-size: 1.8rem;
    color: #ffffff;
    border-radius: 3px;
    cursor: pointer; }
    .hino-popup__btn_submit {
      background: #79c594; }
      .hino-popup__btn_submit:hover {
        background: #67bd86; }
    .hino-popup__btn_cancel {
      background: #cf96a8; }
      .hino-popup__btn_cancel:hover {
        background: #af506e; }
  .hino-popup__submit {
    display: block;
    width: 110px;
    margin: 30px auto 0;
    border: 0;
    outline: 0;
    padding: 20px 0;
    background: #cf96a8;
    color: #ffffff;
    font-size: 1.8rem;
    border-radius: 3px;
    cursor: pointer; }
    .hino-popup__submit:hover {
      background: #af506e; }
  .hino-popup__textarea {
    width: 100%;
    height: 200px;
    font-size: 16px;
    resize: vertical; }
  .hino-popup_file-load .hino-popup__wrap {
    max-width: 600px; }
  .hino-popup_file-load .hino-popup__text {
    text-align: left; }
  .hino-popup_comment .hino-popup__wrap {
    max-width: 700px; }

.ui-spinner {
  overflow: visible; }

.ui-spinner-up, .ui-spinner-down {
  display: block !important;
  width: 60px;
  height: 60px;
  margin: 0;
  background: #e6e6e6;
  color: #303030;
  font-size: 1.8rem;
  cursor: pointer; }

.ui-spinner-up {
  left: 100px;
  background: url(/images/icons/plus.svg) no-repeat center, #e6e6e6;
  background-size: 50% 50%; }

.ui-spinner-down {
  right: 100px;
  background: url(/images/icons/minus.svg) no-repeat center, #e6e6e6;
  background-size: 50% 50%; }

.bottom-fixed {
  position: fixed;
  width: 100%;
  bottom: 0; }

/**
  * order page styles
  */
.order-page {
  padding-bottom: 40px; }
  .order-page__form {
    margin-top: 60px; }
  .order-page__title {
    color: #131313;
    font-size: 1.8rem; }
  .order-page__submit {
    display: inline-block;
    text-align: center;
    padding: 13px 15px;
    width: 100%;
    background: #888787;
    color: #ffffff;
    margin: 20px auto;
    text-decoration: none;
    font-size: 1.6rem; }
    .order-page__submit:hover {
      background: #555454; }
  .order-page__clear {
    display: inline-block;
    text-align: center;
    padding: 13px 15px;
    width: 100%;
    background: #e6e6e6;
    color: #000000;
    margin: 20px auto;
    text-decoration: none;
    font-size: 1.6rem; }
    .order-page__clear:hover {
      background: #d9d9d9; }
  .order-page__load-file {
    margin: 0 auto;
    display: block;
    max-width: 250px; }
  .order-page__empty {
    font-size: 1.6rem;
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 80px 0;
    color: #4a4a4a;
    line-height: 1.5; }

.order-comment {
  border-top: 1px dashed #e6e3e3;
  border-bottom: 1px solid #e6e3e3; }
  .order-comment__buttons {
    text-align: right;
    padding-right: 40px; }
  .order-comment__button {
    display: inline-block;
    text-align: center;
    padding: 13px 15px;
    width: 100%;
    background: #e6e6e6;
    color: #000000;
    margin: 20px auto;
    text-decoration: none;
    font-size: 1.6rem;
    border: none;
    max-width: 300px; }
  .order-comment__text {
    font-size: 16px;
    padding: 10px 0;
    display: block;
    text-align: left; }

.order-form__col {
  padding-bottom: 20px; }

.order-form__input {
  width: 100%; }

.order-form__btn {
  display: block;
  width: 100%;
  margin: 0 auto; }

.order-form__select {
  width: 80%; }

.order-form__submit {
  width: 80%;
  color: #ffffff;
  font-size: 1.6rem;
  outline: 0;
  border: 0;
  background: #888787;
  padding: 10px 20px 10px;
  cursor: pointer; }
  .order-form__submit:hover {
    background: #555454; }

/**
  * 404 page
  */
.page-404 {
  text-align: center;
  padding: 50px 0; }
  .page-404__title {
    font-size: 200px;
    margin: 0;
    line-height: 1; }
  .page-404__subtitle {
    margin: 0;
    line-height: 1;
    font-size: 28px; }

/**
  * js styles
  */
.toggle-content {
  display: none; }

.js-active {
  display: block; }

/**
  * animation
  */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); } }
