@media (max-width: 991px) {
  .header_fixed {
    & .header__container {
      display: block;
    }
    & .navbar__logo {
      display: none;
    }
  }
  .auth-form {
    margin-right: 30px;
    margin-left: auto;
  }
  .header {
    padding-top: 16px;
    &__logo-clone{
      display: none;
    }
    &__wrap{
      width: 100%!important;
    }
    &__text {
      width: 300px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-right: 1px solid #dadada;
    }
    &__logo-wrap {
      width: 57px;
    }
    &__title {
      font-size: 1.6rem;
      margin-top: 0;
      margin-bottom: 8px;
    }
    &__subtitle {
      font-size: 1.2rem;
      margin-top: 0;
      margin-bottom: 0;
    }
    &__navbar {
      margin-top: 16px;
      background: #ebebeb;
    }
  }
  .navbar {
    &__link {
      display: block;
    }
    &__item {
      &:first-child {
        float: left;
        margin-left: 15px;
        margin-top: 4px;
      }
    }
    &__text {
      &_exit {
        font-size: 0;
        width: 24px;
        height: 24px;
        background: url('/images/icons/sign-out.png') no-repeat center;
      }
    }
  }
  .hamburger {
    float: right;
    margin-right: 48px;
    margin-top: 10px;
    display: block;
    width: 45px;
    height: 45px;
    position: relative;
    transform: rotate(0deg) translateX(30px);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 3;
    & span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: #818181;
      border-radius: 6px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 18px;
      }
      &:nth-child(3) {
        top: 36px;
      }
    }
  }
  .open span:nth-child(1) {
    top: 18px;
    transform: rotate(135deg);
    transition: .5s ease-in-out;
  }
  .open span:nth-child(2) {
    opacity: 0;
    left: -60px;
    transition: .5s ease-in-out;
  }
  .open span:nth-child(3) {
    top: 18px;
    transform: rotate(-135deg);
    transition: .5s ease-in-out;
  }
  .parts-table {
    &__header {
      display: none;
    }
    &__col {
      &_moscow, &_artem, &_belgium, &_japan, &_type, &_grade, &_code, &_size, &_weight, &_cost, &_addition {
        display: none;
      }
    }
  }
}
@media (max-width: 768px) {
  .auth-page {
    background: none;
    min-height: 0;
  }
  .auth-form {
    margin-top: 0;
    width: 100%;
  }
  .order-form {
    &__select {
      width: 100%;
    }
    &__submit {
      margin: 0 auto;
      display: block;
    }
    &__btn {
      margin: 0 auto;
      display: block;
      max-width: 250px;
    }
  }
  .page-404{
    &__title{
      font-size: 150px;
      margin: 0;
      line-height: 1;
    }
    &__subtitle{
      font-size: 15px;
    }
  }
  .footer {
    height: auto;

    &__info{
      margin-bottom: 0;
    }
    &__button-pdf{
      margin: 15px 0;
    }
  }
}
@media (max-width: 640px) {
  .parts-page {
    &__input {
      max-width: 150px;
    }
  }
}

@media (max-width: 480px) {
  .header__text{
    width: auto;
    border: none;
    margin: 0 15px;
  }
  .parts-page {
    &__table {
      margin-top: 45px;
      margin-bottom: 45px;
    }
    &__filter-wrap {
      display: block;
    }
    &__input {
      display: block;
      max-width: 250px;
      margin: 10px auto;
    }
    &__submit {
      display: block;
      margin: 32px auto 0;
      width: 125px;
      height: 60px;
      background-color: #e1e1e1;
      &:hover {
        background-color: darken(#e1e1e1, 20%);
      }
    }
  }
  .navbar {
    padding: 0;
    &__list {
      padding: 0;
      text-align: center;
    }
    &__item {
      width: 30%;
      padding: 10px;
      &:first-child {
        padding-left: 35px;
        display: block;
        width: 100%;
      }
    }
    &__link {
      margin: 0 auto;
    }
  }
  .footer__button-pdf{
    max-width: none;
  }

}
