@media (max-width: 991px) {
  .header_fixed .header__container {
    display: block; }
  .header_fixed .navbar__logo {
    display: none; }
  .auth-form {
    margin-right: 30px;
    margin-left: auto; }
  .header {
    padding-top: 16px; }
    .header__logo-clone {
      display: none; }
    .header__wrap {
      width: 100% !important; }
    .header__text {
      width: 300px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-right: 1px solid #dadada; }
    .header__logo-wrap {
      width: 57px; }
    .header__title {
      font-size: 1.6rem;
      margin-top: 0;
      margin-bottom: 8px; }
    .header__subtitle {
      font-size: 1.2rem;
      margin-top: 0;
      margin-bottom: 0; }
    .header__navbar {
      margin-top: 16px;
      background: #ebebeb; }
  .navbar__link {
    display: block; }
  .navbar__item:first-child {
    float: left;
    margin-left: 15px;
    margin-top: 4px; }
  .navbar__text_exit {
    font-size: 0;
    width: 24px;
    height: 24px;
    background: url("/images/icons/sign-out.png") no-repeat center; }
  .hamburger {
    float: right;
    margin-right: 48px;
    margin-top: 10px;
    display: block;
    width: 45px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg) translateX(30px);
            transform: rotate(0deg) translateX(30px);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 3; }
    .hamburger span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: #818181;
      border-radius: 6px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      transition: .5s ease-in-out; }
      .hamburger span:nth-child(1) {
        top: 0; }
      .hamburger span:nth-child(2) {
        top: 18px; }
      .hamburger span:nth-child(3) {
        top: 36px; }
  .open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    transition: .5s ease-in-out; }
  .open span:nth-child(2) {
    opacity: 0;
    left: -60px;
    transition: .5s ease-in-out; }
  .open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    transition: .5s ease-in-out; }
  .parts-table__header {
    display: none; }
  .parts-table__col_moscow, .parts-table__col_artem, .parts-table__col_belgium, .parts-table__col_japan, .parts-table__col_type, .parts-table__col_grade, .parts-table__col_code, .parts-table__col_size, .parts-table__col_weight, .parts-table__col_cost, .parts-table__col_addition {
    display: none; } }

@media (max-width: 768px) {
  .auth-page {
    background: none;
    min-height: 0; }
  .auth-form {
    margin-top: 0;
    width: 100%; }
  .order-form__select {
    width: 100%; }
  .order-form__submit {
    margin: 0 auto;
    display: block; }
  .order-form__btn {
    margin: 0 auto;
    display: block;
    max-width: 250px; }
  .page-404__title {
    font-size: 150px;
    margin: 0;
    line-height: 1; }
  .page-404__subtitle {
    font-size: 15px; }
  .footer {
    height: auto; }
    .footer__info {
      margin-bottom: 0; }
    .footer__button-pdf {
      margin: 15px 0; } }

@media (max-width: 640px) {
  .parts-page__input {
    max-width: 150px; } }

@media (max-width: 480px) {
  .header__text {
    width: auto;
    border: none;
    margin: 0 15px; }
  .parts-page__table {
    margin-top: 45px;
    margin-bottom: 45px; }
  .parts-page__filter-wrap {
    display: block; }
  .parts-page__input {
    display: block;
    max-width: 250px;
    margin: 10px auto; }
  .parts-page__submit {
    display: block;
    margin: 32px auto 0;
    width: 125px;
    height: 60px;
    background-color: #e1e1e1; }
    .parts-page__submit:hover {
      background-color: #aeaeae; }
  .navbar {
    padding: 0; }
    .navbar__list {
      padding: 0;
      text-align: center; }
    .navbar__item {
      width: 30%;
      padding: 10px; }
      .navbar__item:first-child {
        padding-left: 35px;
        display: block;
        width: 100%; }
    .navbar__link {
      margin: 0 auto; }
  .footer__button-pdf {
    max-width: none; } }
