/**
  * user-page styles
  */
.hino-popup_employees {
  & .hino-popup__wrap {
    max-width: 500px;
  }
  & .hino-popup__label {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  & .hino-popup__select, & .input-default {
    width: 100%;
  }
}

.user-page {
  margin-top: 70px;

  &__btn{
    width: 100%;
    max-width: 250px;
    color: #000000;
    font-size: 1.6rem;
    outline: 0;
    border: 0;
    background: #e6e6e6;
    padding: 10px 20px 10px;
    margin: 10px 0;

    &:hover{
      background: darken(#e6e6e6, 20%);
    }
  }
  &__logo {
    float: left;
    width: 40%;
    & img {
      width: 100%;
    }
  }
  &__management {
    margin: 10px 0;
    padding: 10px 0;
  }
  &__info {
    float: left;
    width: 55%;
    margin-left: 5%;
  }
  &__title {
    display: block;
    font-size: 2.4rem;
    font-weight: 500;
    color: #000000;
    margin-bottom: 40px;
  }
  &__subtitle {
    font-size: 1.6rem;
    color: #e30007;
    font-weight: 500;
  }
  &__contacts {
    margin-bottom: 70px;
  }
  &__text {
    font-size: 1.6rem;
    color: #000000;
    font-weight: 400;
    font-style: italic;
    margin: 0;
    line-height: 1.5;

    &_name {
      font-size: 1.8rem;
    }
    &_download {
      display: block;
      padding-bottom: 20px;
      font-style: normal;
      line-height: 36px;
      position: relative;
      border-bottom: 1px dashed #e7e7e7;
    }
    &_documents {
      display: block;
      padding-left: 40px;
      font-style: normal;
      position: relative;
      min-height: 36px;
      text-decoration: none;
      &:before {
        content: "";
        position: absolute;
        width: 36px;
        height: 36px;
        display: block;
        left: 0;
        top: 5px;
        background: url(/images/user-page__sprite.png) no-repeat;
        background-position: -406px -21px;
      }
      &:hover {
        text-decoration: underline;
        &:before {
          background: url(/images/user-page__sprite.png) no-repeat;
          background-position: -462px -21px;
        }
      }
    }
  }
  &__download {
    margin-top: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &-nav {
    padding-left: 50px;
    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
      &_admin {
        & .user-page-nav__item {
          padding: 0;
          margin-bottom: 20px;
          line-height: 1.15;

          &:before{
            content: '';
            display: none;
          }
          & > a {
            padding: 10px;
            background: #CCCCCC;
            text-align: center;
            display: block;
            text-decoration: none;
            color: inherit;
            display: inline-block;
            width: 100%;

            &:hover{
              color: #ffffff;
              background: #e30007;
            }
          }
        }
      }
    }
    &__item {
      position: relative;
      padding-left: 70px;
      padding-bottom: 20px;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 52px;
      cursor: pointer;
      &:before {
        content: "";
        position: absolute;
        width: 52px;
        height: 52px;
        display: block;
        left: 0;
        top: 0;
      }
      &_arg {
        &:before {
          background: url(/images/user-page__sprite.png) no-repeat;
          background-position: -3px -3px;
        }
        &:hover {
          color: #e30007;
          &:before {
            background: url(/images/user-page__sprite.png) no-repeat;
            background-position: -59px -3px;
          }
        }
        &.js-active {
          color: #e30007;
          &:before {
            background: url(/images/user-page__sprite.png) no-repeat;
            background-position: -59px -3px;
          }
        }
      }
      &_empl {
        &:before {
          background: url(/images/user-page__sprite.png) no-repeat;
          background-position: -115px -3px;
        }
        &:hover {
          color: #e30007;
          &:before {
            background: url(/images/user-page__sprite.png) no-repeat;
            background-position: -171px -3px;
          }
        }
        &.js-active {
          color: #e30007;
          &:before {
            background: url(/images/user-page__sprite.png) no-repeat;
            background-position: -171px -3px;
          }
        }
      }
      &_legal {
        &:before {
          background: url(/images/user-page__sprite.png) no-repeat;
          background-position: -227px -3px;
        }
        &:hover {
          color: #e30007;
          &:before {
            background: url(/images/user-page__sprite.png) no-repeat;
            background-position: -282px -3px;
          }
        }
        &.js-active {
          color: #e30007;
          &:before {
            background: url(/images/user-page__sprite.png) no-repeat;
            background-position: -282px -3px;
          }
        }
      }
    }
  }
  &__documents {
    padding: 35px;
  }
  &__prev, &__next {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-top: -14px;
    cursor: pointer;
    border-left: 2px solid #e30007;
    border-bottom: 2px solid #e30007;
  }
  &__prev {
    transform: rotate(45deg);
    left: -10px;
    right: auto;
  }
  &__next {
    transform: rotate(-135deg);
    left: auto;
    right: -10px;
  }
}

@media (max-width: 1280px) {
  .user-page {
    &__prev {
      left: 20px;
    }
    &__next {
      right: 20px;
    }
  }
}
@media (max-width: 991px) {
  .user-page {
    &__text {
      display: block;
      &_download {
        padding-left: 0;
        &:before {
          display: inline-block;
          vertical-align: middle;
          position: static;
          margin-right: 30px;
        }
      }
    }
    &-nav {
      margin-left: -15px;
      margin-right: -15px;
      padding-left: 0;
      &__list {
        width: 100%;
        display: table;
        margin-top: 60px;
        padding: 20px 0;
        background: #ebebeb;
        &_admin {
          & .user-page-nav__item {
            padding: 0 15px;
            &:before {
              display: none;
            }
          }
        }
      }
      &__item {
        text-align: center;
        display: table-cell;
        padding-left: 0;
        padding-bottom: 0;
        &:before {
          display: inline-block;
          vertical-align: middle;
          position: static;
          margin-right: 30px;
        }
      }
    }
    &__download {
      text-align: center;
    }
  }
}
@media (max-width: 640px) {
  .user-page {
    margin-top: 30px;
    &__download {
      margin-top: 0;
    }
    &__logo {
      display: none;
    }
    &__info {
      width: 100%;
      margin-left: 0;
    }
    &__contacts {
      margin-bottom: 20px;
    }
    &__title {
      margin-bottom: 30px;
    }
    &-nav {
      &__list {
        display: block;
        text-align: left;
        &_admin {
          & .user-page-nav__item {
            padding: 0;
          }
        }
      }
      &__item {
        display: block;
        text-align: left;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .user-page {
    text-align: center;
    &__text {
      &_documents {
        display: inline-block;
      }
    }
  }
}
