/**
  * user-page styles
  */
.hino-popup_employees .hino-popup__wrap {
  max-width: 500px; }

.hino-popup_employees .hino-popup__label {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto; }

.hino-popup_employees .hino-popup__select, .hino-popup_employees .input-default {
  width: 100%; }

.user-page {
  margin-top: 70px; }
  .user-page__btn {
    width: 100%;
    max-width: 250px;
    color: #000000;
    font-size: 1.6rem;
    outline: 0;
    border: 0;
    background: #e6e6e6;
    padding: 10px 20px 10px;
    margin: 10px 0; }
    .user-page__btn:hover {
      background: #b3b3b3; }
  .user-page__logo {
    float: left;
    width: 40%; }
    .user-page__logo img {
      width: 100%; }
  .user-page__management {
    margin: 10px 0;
    padding: 10px 0; }
  .user-page__info {
    float: left;
    width: 55%;
    margin-left: 5%; }
  .user-page__title {
    display: block;
    font-size: 2.4rem;
    font-weight: 500;
    color: #000000;
    margin-bottom: 40px; }
  .user-page__subtitle {
    font-size: 1.6rem;
    color: #e30007;
    font-weight: 500; }
  .user-page__contacts {
    margin-bottom: 70px; }
  .user-page__text {
    font-size: 1.6rem;
    color: #000000;
    font-weight: 400;
    font-style: italic;
    margin: 0;
    line-height: 1.5; }
    .user-page__text_name {
      font-size: 1.8rem; }
    .user-page__text_download {
      display: block;
      padding-bottom: 20px;
      font-style: normal;
      line-height: 36px;
      position: relative;
      border-bottom: 1px dashed #e7e7e7; }
    .user-page__text_documents {
      display: block;
      padding-left: 40px;
      font-style: normal;
      position: relative;
      min-height: 36px;
      text-decoration: none; }
      .user-page__text_documents:before {
        content: "";
        position: absolute;
        width: 36px;
        height: 36px;
        display: block;
        left: 0;
        top: 5px;
        background: url(/images/user-page__sprite.png) no-repeat;
        background-position: -406px -21px; }
      .user-page__text_documents:hover {
        text-decoration: underline; }
        .user-page__text_documents:hover:before {
          background: url(/images/user-page__sprite.png) no-repeat;
          background-position: -462px -21px; }
  .user-page__download {
    margin-top: 60px;
    padding-top: 20px;
    padding-bottom: 20px; }
  .user-page-nav {
    padding-left: 50px; }
    .user-page-nav__list {
      margin: 0;
      padding: 0;
      list-style: none; }
      .user-page-nav__list_admin .user-page-nav__item {
        padding: 0;
        margin-bottom: 20px;
        line-height: 1.15; }
        .user-page-nav__list_admin .user-page-nav__item:before {
          content: '';
          display: none; }
        .user-page-nav__list_admin .user-page-nav__item > a {
          padding: 10px;
          background: #CCCCCC;
          text-align: center;
          display: block;
          text-decoration: none;
          color: inherit;
          display: inline-block;
          width: 100%; }
          .user-page-nav__list_admin .user-page-nav__item > a:hover {
            color: #ffffff;
            background: #e30007; }
    .user-page-nav__item {
      position: relative;
      padding-left: 70px;
      padding-bottom: 20px;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 52px;
      cursor: pointer; }
      .user-page-nav__item:before {
        content: "";
        position: absolute;
        width: 52px;
        height: 52px;
        display: block;
        left: 0;
        top: 0; }
      .user-page-nav__item_arg:before {
        background: url(/images/user-page__sprite.png) no-repeat;
        background-position: -3px -3px; }
      .user-page-nav__item_arg:hover {
        color: #e30007; }
        .user-page-nav__item_arg:hover:before {
          background: url(/images/user-page__sprite.png) no-repeat;
          background-position: -59px -3px; }
      .user-page-nav__item_arg.js-active {
        color: #e30007; }
        .user-page-nav__item_arg.js-active:before {
          background: url(/images/user-page__sprite.png) no-repeat;
          background-position: -59px -3px; }
      .user-page-nav__item_empl:before {
        background: url(/images/user-page__sprite.png) no-repeat;
        background-position: -115px -3px; }
      .user-page-nav__item_empl:hover {
        color: #e30007; }
        .user-page-nav__item_empl:hover:before {
          background: url(/images/user-page__sprite.png) no-repeat;
          background-position: -171px -3px; }
      .user-page-nav__item_empl.js-active {
        color: #e30007; }
        .user-page-nav__item_empl.js-active:before {
          background: url(/images/user-page__sprite.png) no-repeat;
          background-position: -171px -3px; }
      .user-page-nav__item_legal:before {
        background: url(/images/user-page__sprite.png) no-repeat;
        background-position: -227px -3px; }
      .user-page-nav__item_legal:hover {
        color: #e30007; }
        .user-page-nav__item_legal:hover:before {
          background: url(/images/user-page__sprite.png) no-repeat;
          background-position: -282px -3px; }
      .user-page-nav__item_legal.js-active {
        color: #e30007; }
        .user-page-nav__item_legal.js-active:before {
          background: url(/images/user-page__sprite.png) no-repeat;
          background-position: -282px -3px; }
  .user-page__documents {
    padding: 35px; }
  .user-page__prev, .user-page__next {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-top: -14px;
    cursor: pointer;
    border-left: 2px solid #e30007;
    border-bottom: 2px solid #e30007; }
  .user-page__prev {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    left: -10px;
    right: auto; }
  .user-page__next {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    left: auto;
    right: -10px; }

@media (max-width: 1280px) {
  .user-page__prev {
    left: 20px; }
  .user-page__next {
    right: 20px; } }

@media (max-width: 991px) {
  .user-page__text {
    display: block; }
    .user-page__text_download {
      padding-left: 0; }
      .user-page__text_download:before {
        display: inline-block;
        vertical-align: middle;
        position: static;
        margin-right: 30px; }
  .user-page-nav {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 0; }
    .user-page-nav__list {
      width: 100%;
      display: table;
      margin-top: 60px;
      padding: 20px 0;
      background: #ebebeb; }
      .user-page-nav__list_admin .user-page-nav__item {
        padding: 0 15px; }
        .user-page-nav__list_admin .user-page-nav__item:before {
          display: none; }
    .user-page-nav__item {
      text-align: center;
      display: table-cell;
      padding-left: 0;
      padding-bottom: 0; }
      .user-page-nav__item:before {
        display: inline-block;
        vertical-align: middle;
        position: static;
        margin-right: 30px; }
  .user-page__download {
    text-align: center; } }

@media (max-width: 640px) {
  .user-page {
    margin-top: 30px; }
    .user-page__download {
      margin-top: 0; }
    .user-page__logo {
      display: none; }
    .user-page__info {
      width: 100%;
      margin-left: 0; }
    .user-page__contacts {
      margin-bottom: 20px; }
    .user-page__title {
      margin-bottom: 30px; }
    .user-page-nav__list {
      display: block;
      text-align: left; }
      .user-page-nav__list_admin .user-page-nav__item {
        padding: 0; }
    .user-page-nav__item {
      display: block;
      text-align: left;
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 15px; }
      .user-page-nav__item:last-child {
        margin-bottom: 0; } }

@media (max-width: 480px) {
  .user-page {
    text-align: center; }
    .user-page__text_documents {
      display: inline-block; } }
