/**
  * history page styles
  */
.history-page {
  padding-bottom: 50px;
  &__form {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.hino-popup_orderdetail .hino-popup__wrap{
  max-width: 1200px;
}
.history-form {
  &__row {
    margin-bottom: 20px;
  }
  &__label {
    display: block;
    font-size: 1.6rem;
    color: #000000;
    width: 100%;
  }
  &__input {
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-top: 15px;
  }
  &__select {
    margin-top: 14px;
  }
  &__checkbox-label {
    display: inline-block;
    vertical-align: middle;
    padding: 11px 0;
    font-size: 1.4rem;
    margin: 0 10px;

    &:before{
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 17px;
      height: 17px;
      border: 1px solid #dadada;
      background-color: #e2e2e2;
      margin-right: 10px;
    }
  }
  &__checkbox {
    display: none;
    &:checked + .history-form__checkbox-label:before{
      background-image: url(/images/icons/checked.svg);
      background-size: 90%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  &__checkbox-wrap {
    margin-top: 15px;
  }
  &__submit {
    border: none;
    display: inline-block;
    padding: 13px 20px;
    background: #888787;
    color: #ffffff;
    margin-top: 25px;
    text-decoration: none;
    font-size: 1.6rem;
    cursor: pointer;
    width: 100%;

    &:hover {
      background: darken(#888787, 20%);
    }
  }
  &__cancel{
    text-decoration: none;
    width: 100%;
    color: #000000;
    font-size: 1.6rem;
    outline: 0;
    border: 0;
    margin-top: 25px;
    background: #e6e6e6;
    padding: 13px 20px;
    display: inline-block;
    text-align: center;

    &:hover {
      background: darken(#e6e6e6, 5%);
    }
  }
}
.history-page__empty-list{
  font-size: 1.6rem;
  text-align: center;
  padding: 50px 15px;
}
.history-table {
  &__col{
    padding: 15px 5px;
  }
  &__col_id{
    text-decoration: underline;
    cursor: pointer;
  }
  &__col_num, &__col_status{
    white-space: nowrap;
  }
  &__head{
    padding-left: 5px;
    padding-right: 5px;

    &_id{
      padding-left: 2px;
      padding-right: 2px;
      width: 65px;
    }
    &_date{
      width: 100px;
    }
  }
  &__button{
    border: none;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
    border-radius: none;

    &_edit{
      background: url(/images/icons/pencil.png) no-repeat center;
      width: 30px;
      height: 30px;
      background-size: cover;

      &:hover, &:focus{
        background: url(/images/icons/pencil_hover.png) no-repeat center;
        background-size: cover;
      }
    }
  }
  &__status-icon {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 9px;
  }
  &__link {
    color: inherit;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  &__row {
    &.status_n {
      & .history-table__col_status .history-table__status-icon {
        background: #a7a7a7;
      }
    }
    &.status_s, &.status_si {
      & .history-table__col_status .history-table__status-icon {
        background: #ffc000;
      }
    }
    &.status_f {
      & .history-table__col_status .history-table__status-icon {
        background: #39b54a;
      }
    }
    &.status_df {
      & .history-table__col_status .history-table__status-icon {
        background: #e30007;
      }
    }
  }
}
@media (max-width: 991px) {
  .history-form {
    &__label {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 768px) {
  .history-form {
    &__label {
      margin-bottom: 20px;
    }
    &__checkbox-label {
      width: 45%;
      text-align: left;
      margin-right: 0;
    }
    &__submit, &__cancel{
      margin-top: 0;
    }
  }
  .history-table {
    &__col, &__head {
      &_length, &_selling, &_info, &_download, &_unknown {
        display: none;
      }
    }
  }
}
