/**
  * history page styles
  */
.history-page {
  padding-bottom: 50px; }
  .history-page__form {
    margin-top: 50px;
    margin-bottom: 50px; }

.hino-popup_orderdetail .hino-popup__wrap {
  max-width: 1200px; }

.history-form__row {
  margin-bottom: 20px; }

.history-form__label {
  display: block;
  font-size: 1.6rem;
  color: #000000;
  width: 100%; }

.history-form__input {
  display: block;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-top: 15px; }

.history-form__select {
  margin-top: 14px; }

.history-form__checkbox-label {
  display: inline-block;
  vertical-align: middle;
  padding: 11px 0;
  font-size: 1.4rem;
  margin: 0 10px; }
  .history-form__checkbox-label:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 17px;
    border: 1px solid #dadada;
    background-color: #e2e2e2;
    margin-right: 10px; }

.history-form__checkbox {
  display: none; }
  .history-form__checkbox:checked + .history-form__checkbox-label:before {
    background-image: url(/images/icons/checked.svg);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat; }

.history-form__checkbox-wrap {
  margin-top: 15px; }

.history-form__submit {
  border: none;
  display: inline-block;
  padding: 13px 20px;
  background: #888787;
  color: #ffffff;
  margin-top: 25px;
  text-decoration: none;
  font-size: 1.6rem;
  cursor: pointer;
  width: 100%; }
  .history-form__submit:hover {
    background: #555454; }

.history-form__cancel {
  text-decoration: none;
  width: 100%;
  color: #000000;
  font-size: 1.6rem;
  outline: 0;
  border: 0;
  margin-top: 25px;
  background: #e6e6e6;
  padding: 13px 20px;
  display: inline-block;
  text-align: center; }
  .history-form__cancel:hover {
    background: #d9d9d9; }

.history-page__empty-list {
  font-size: 1.6rem;
  text-align: center;
  padding: 50px 15px; }

.history-table__col {
  padding: 15px 5px; }

.history-table__col_id {
  text-decoration: underline;
  cursor: pointer; }

.history-table__col_num, .history-table__col_status {
  white-space: nowrap; }

.history-table__head {
  padding-left: 5px;
  padding-right: 5px; }
  .history-table__head_id {
    padding-left: 2px;
    padding-right: 2px;
    width: 65px; }
  .history-table__head_date {
    width: 100px; }

.history-table__button {
  border: none;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
  border-radius: none; }
  .history-table__button_edit {
    background: url(/images/icons/pencil.png) no-repeat center;
    width: 30px;
    height: 30px;
    background-size: cover; }
    .history-table__button_edit:hover, .history-table__button_edit:focus {
      background: url(/images/icons/pencil_hover.png) no-repeat center;
      background-size: cover; }

.history-table__status-icon {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 9px; }

.history-table__link {
  color: inherit;
  text-decoration: underline; }
  .history-table__link:hover {
    text-decoration: none; }

.history-table__row.status_n .history-table__col_status .history-table__status-icon {
  background: #a7a7a7; }

.history-table__row.status_s .history-table__col_status .history-table__status-icon, .history-table__row.status_si .history-table__col_status .history-table__status-icon {
  background: #ffc000; }

.history-table__row.status_f .history-table__col_status .history-table__status-icon {
  background: #39b54a; }

.history-table__row.status_df .history-table__col_status .history-table__status-icon {
  background: #e30007; }

@media (max-width: 991px) {
  .history-form__label {
    margin-bottom: 20px; } }

@media (max-width: 768px) {
  .history-form__label {
    margin-bottom: 20px; }
  .history-form__checkbox-label {
    width: 45%;
    text-align: left;
    margin-right: 0; }
  .history-form__submit, .history-form__cancel {
    margin-top: 0; }
  .history-table__col_length, .history-table__col_selling, .history-table__col_info, .history-table__col_download, .history-table__col_unknown, .history-table__head_length, .history-table__head_selling, .history-table__head_info, .history-table__head_download, .history-table__head_unknown {
    display: none; } }
