.news-detail {
  padding-bottom: 30px;
  &__date {
    margin-bottom: 30px;
  }
  &__item {
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px dotted #dadada;
    &:last-of-type {
      border-bottom: 0;
    }
  }
  &__picture {
    max-width: 50%;
    margin-top: 30px;
  }
  &__image {
    width: 100%;
  }
  &__text {
    margin-top: 30px;
    margin-bottom: 0;
  }
}
