.news-detail {
  padding-bottom: 30px; }
  .news-detail__date {
    margin-bottom: 30px; }
  .news-detail__item {
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px dotted #dadada; }
    .news-detail__item:last-of-type {
      border-bottom: 0; }
  .news-detail__picture {
    max-width: 50%;
    margin-top: 30px; }
  .news-detail__image {
    width: 100%; }
  .news-detail__text {
    margin-top: 30px;
    margin-bottom: 0; }
