.navbar-basket__link {
  height: auto;
  color: #e30007;
  font-weight: normal;
  font-size: 1.4rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
  text-decoration: none;
  position: relative;
  padding-left: 28px; }
  .navbar-basket__link_empty {
    color: #818181; }
  .navbar-basket__link:hover {
    text-decoration: underline; }
  .navbar-basket__link:before {
    display: block;
    position: absolute;
    width: 20px;
    height: 19px;
    left: 0;
    top: 50%;
    margin-top: -10px;
    content: "";
    background: url(/images/icons/shopping-cart.svg) no-repeat center;
    background-size: cover; }
