.button-wrap {
  text-align: center; }

.main-news {
  text-align: center; }
  .main-news__button {
    margin: 20px 0;
    display: inline-block;
    vertical-align: middle;
    color: #303030;
    font-size: 16px;
    font-weight: normal;
    text-align: center; }
    .main-news__button:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      width: 23px;
      height: 23px;
      background: url("/images/icons/loading.png") no-repeat center; }
    .main-news__button:hover:before {
      -webkit-animation: spin 2s linear infinite;
              animation: spin 2s linear infinite; }
  .main-news__title {
    text-align: left;
    display: block;
    padding-left: 15px;
    margin: 40px 0;
    font-size: 2.4rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #040404;
    text-decoration: none; }
