.hino-pager {
  display: block;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center; }
  .hino-pager__link {
    display: inline-block;
    padding: 2px 6px;
    font-size: 1.6rem;
    background: #e6e6e6;
    margin-right: 6px;
    text-decoration: none;
    color: #303030;
    vertical-align: middle; }
    .hino-pager__link:hover {
      text-decoration: underline; }
    .hino-pager__link_active {
      background: #303030;
      color: #ffffff; }
  .hino-pager__prev, .hino-pager__next {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 13px solid #303030;
    vertical-align: middle;
    margin-right: 6px; }
  .hino-pager__next {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 13px solid #303030;
    border-right: none;
    margin-right: none; }

span.hino-pager__link:hover {
  text-decoration: none; }
