.news-page__title {
  margin-bottom: 20px;
  text-decoration: none;
  color: inherit;
  cursor: pointer; }
  .news-page__title:hover {
    text-decoration: underline; }

.news-page__date {
  margin-bottom: 20px; }

.news-page__item {
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 1px dotted #dadada; }
  .news-page__item:last-of-type {
    border-bottom: 0; }

.news-page__picture {
  max-width: 350px; }

.news-page__image {
  width: 100%; }

.news-page__text {
  margin-top: 20px;
  margin-bottom: 0; }
