.news-page {
  &__title {
    margin-bottom: 20px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &__date {
    margin-bottom: 20px;
  }
  &__item {
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px dotted #dadada;
    &:last-of-type {
      border-bottom: 0;
    }
  }
  &__picture {
    max-width: 350px;
  }
  &__image {
    width: 100%;
  }
  &__text {
    margin-top: 20px;
    margin-bottom: 0;
  }
}
