.bx-notifier-panel {
  position: static;
  color: #818181;
  padding-right: 0;
  height: auto;
  background: transparent; }
  .bx-notifier-panel:hover .bx-notifier-indicator .bx-notifier-indicator-count {
    text-decoration: underline; }

.bx-notifier-indicator .bx-notifier-indicator-count {
  height: auto;
  color: #e30007;
  font-weight: normal;
  font-size: 1.4rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
  margin-left: 4px; }
  .bx-notifier-indicator .bx-notifier-indicator-count_zero {
    color: #818181; }

.bx-notifier-indicator {
  height: auto;
  outline: 0;
  display: inline-block;
  text-decoration: none;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  cursor: pointer; }
  .bx-notifier-indicator:first-child {
    padding-left: 0; }

.bx-notifier-message:hover .bx-notifier-indicator-icon {
  background-position: center center; }

.bx-notifier-indicator .bx-notifier-indicator-icon {
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 12px;
  background: url(/images/icons/mail.png) no-repeat center;
  background-size: cover; }
  .bx-notifier-indicator .bx-notifier-indicator-icon:hover {
    background-position: center center; }
