.dealers-list {
  &__item {

    text-align: left;
    display: table;
    vertical-align: middle;
    width: 100%;
    font-size: 1.7rem;
    font-weight: 500;
    color: #3d3d3d;
    margin: 20px 0;
    border: 1px dashed #c1c1c1;
    &:hover {
      border: 1px solid #c1c1c1;
    }
  }
  &__name {
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
  &__logo {
    width: 100%;
  }
  &__logo-wrap {
    display: table-cell;
    width: 80px;
  }
  &__controls {
    display: table-cell;
  }
}
.dealers-controls {
  display: table-cell;
  vertical-align: middle;
  &__wrap {
    text-align: right;
  }
  &__item {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 10px;
    cursor: pointer;

    &_delete {
      background: url(/images/icons/disabled.png) no-repeat center;
      &:hover {
        background: url(/images/icons/disabled_hover.png) no-repeat center;
      }
    }
    &_edit {
      background: url(/images/icons/pencil.png) no-repeat center;
      &:hover {
        background: url(/images/icons/pencil_hover.png) no-repeat center;
      }
    }
    &_status {
      background: url(/images/icons/padlock.png) no-repeat center;
      &:hover {
        background: url(/images/icons/padlock_hover.png) no-repeat center;
      }
    }
    &_status-block{
      background: url(/images/icons/padlock_hover.png) no-repeat center;
    }
  }
}
.hino-popup_dealeredit{
  & .hino-popup__wrap{
    max-width: 500px;
  }
  & .hino-popup__header{
    padding-right: 50px;
  }
  & .hino-popup__select{
    width: 100%;
  }
  & .hino-popup__label{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  & .hino-popup__title{
    font-size: 16px;
  }
  & .hino-popup__drag{
    text-align: left;
    padding: 15px 0;
  }
  & .hino-popup__drag-item{
    position: relative;
    border: 1px dashed #7d7d7d;
    margin: 10px 0;
    padding: 10px;
    padding-left: 25px;
    background: #f1f1f1;
    cursor: move;

    &:before{
      content: '';
      background: url(/images/icons/double-arrow.svg) center no-repeat;
      background-size: contain;
      height: 19px;
      width: 26px;
      position: absolute;
      display: inline-block;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
    }

  }
}
