.dealers-list__item {
  text-align: left;
  display: table;
  vertical-align: middle;
  width: 100%;
  font-size: 1.7rem;
  font-weight: 500;
  color: #3d3d3d;
  margin: 20px 0;
  border: 1px dashed #c1c1c1; }
  .dealers-list__item:hover {
    border: 1px solid #c1c1c1; }

.dealers-list__name {
  display: table-cell;
  vertical-align: middle;
  padding-left: 30px;
  text-decoration: none;
  color: inherit; }
  .dealers-list__name:hover {
    text-decoration: underline; }

.dealers-list__logo {
  width: 100%; }

.dealers-list__logo-wrap {
  display: table-cell;
  width: 80px; }

.dealers-list__controls {
  display: table-cell; }

.dealers-controls {
  display: table-cell;
  vertical-align: middle; }
  .dealers-controls__wrap {
    text-align: right; }
  .dealers-controls__item {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 10px;
    cursor: pointer; }
    .dealers-controls__item_delete {
      background: url(/images/icons/disabled.png) no-repeat center; }
      .dealers-controls__item_delete:hover {
        background: url(/images/icons/disabled_hover.png) no-repeat center; }
    .dealers-controls__item_edit {
      background: url(/images/icons/pencil.png) no-repeat center; }
      .dealers-controls__item_edit:hover {
        background: url(/images/icons/pencil_hover.png) no-repeat center; }
    .dealers-controls__item_status {
      background: url(/images/icons/padlock.png) no-repeat center; }
      .dealers-controls__item_status:hover {
        background: url(/images/icons/padlock_hover.png) no-repeat center; }
    .dealers-controls__item_status-block {
      background: url(/images/icons/padlock_hover.png) no-repeat center; }

.hino-popup_dealeredit .hino-popup__wrap {
  max-width: 500px; }

.hino-popup_dealeredit .hino-popup__header {
  padding-right: 50px; }

.hino-popup_dealeredit .hino-popup__select {
  width: 100%; }

.hino-popup_dealeredit .hino-popup__label {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto; }

.hino-popup_dealeredit .hino-popup__title {
  font-size: 16px; }

.hino-popup_dealeredit .hino-popup__drag {
  text-align: left;
  padding: 15px 0; }

.hino-popup_dealeredit .hino-popup__drag-item {
  position: relative;
  border: 1px dashed #7d7d7d;
  margin: 10px 0;
  padding: 10px;
  padding-left: 25px;
  background: #f1f1f1;
  cursor: move; }
  .hino-popup_dealeredit .hino-popup__drag-item:before {
    content: '';
    background: url(/images/icons/double-arrow.svg) center no-repeat;
    background-size: contain;
    height: 19px;
    width: 26px;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }
