.header-menu {
  display: table;
  margin-left: 0 !important;
  margin-right: 0 !important;
  background: #000;
  width: 100%; }
  .header-menu__list {
    display: table;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    width: 100%; }
  .header-menu__item {
    display: table-cell; }
  .header-menu__link {
    display: block;
    color: #fff;
    font-weight: normal;
    font-size: 1.6rem;
    text-align: center;
    text-decoration: none;
    padding: 16px 20px; }
    .header-menu__link:hover {
      background: #e30007; }
    .header-menu__link_selected {
      background: #e30007;
      color: #ebebeb; }

.mobile-header {
  display: none; }

@media (max-width: 991px) {
  .header-menu {
    width: 670px;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background: #ffffff;
    z-index: 1;
    box-shadow: 1px 1px 1px 1px #ebebeb; }
    .header-menu__item {
      display: block; }
    .header-menu__link {
      color: #252525;
      display: block;
      text-align: left;
      padding-left: 100px;
      font-size: 1.8rem;
      position: relative; }
      .header-menu__link:before {
        position: absolute;
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        left: 35px;
        top: 50%;
        margin-top: -15px; }
      .header-menu__link:hover {
        background: #ebebeb;
        color: #e30007; }
      .header-menu__link_order:before {
        background: url(/images/icons/order.png) no-repeat center; }
      .header-menu__link_order:hover:before {
        background: url(/images/icons/order_active.png) no-repeat center; }
      .header-menu__link_history:before {
        background: url(/images/icons/history.png) no-repeat center; }
      .header-menu__link_history:hover:before {
        background: url(/images/icons/history_active.png) no-repeat center; }
      .header-menu__link_search:before {
        background: url(/images/icons/search.png) no-repeat center; }
      .header-menu__link_search:hover:before {
        background: url(/images/icons/search_active.png) no-repeat center; }
      .header-menu__link_manager:before {
        background: url(/images/icons/manager.png) no-repeat center; }
      .header-menu__link_manager:hover:before {
        background: url(/images/icons/manager_active.png) no-repeat center; }
      .header-menu__link_news:before {
        background: url(/images/icons/news.png) no-repeat center; }
      .header-menu__link_news:hover:before {
        background: url(/images/icons/news_active.png) no-repeat center; }
      .header-menu__link_price:before {
        background: url(/images/icons/price.png) no-repeat center; }
      .header-menu__link_price:hover:before {
        background: url(/images/icons/price_active.png) no-repeat center; }
  .mobile-header {
    display: table; }
    .mobile-header__logo {
      width: 50%;
      display: table-cell;
      background: #e1e1e1;
      padding: 42px; }
    .mobile-header__img {
      width: 100%; }
    .mobile-header__info {
      width: 50%;
      display: table-cell;
      background: #ebebeb;
      vertical-align: bottom; }
    .mobile-header__userbar {
      text-align: center;
      margin-bottom: 40px; }
    .mobile-header__user {
      font-weight: 500 !important;
      font-size: 2.1rem !important;
      color: #303030 !important; }
      .mobile-header__user:before {
        display: none; } }

@media (max-width: 767px) {
  .header-menu {
    width: 100%; }
  .mobile-header {
    width: 100%; } }

@media (max-width: 530px) {
  .header__text {
    display: none; }
  .header-menu__link {
    padding-left: 80px;
    font-size: 1.6rem; }
  .mobile-header__user {
    font-size: 1.6rem !important; }
  .mobile-header__logo {
    width: 40%; }
  .mobile-header__info {
    width: 60%; }
  .mobile-header__userbar {
    margin-bottom: 10px; } }
